body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: salmon;
}

.container{
    border:  5px solid black;
    background-color: rgb(13, 13, 9);
    height: 300px;
    width: 300px;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}